<html>
<head>

</head>

<body>

  <div id="demo">
    <ul>
      <li v-for="guest in guests">

        Name: <span>{{guest.name}}</span><br>
        Message: <span>{{guest.message}}</span>
      </li>
    </ul>
  </div>

  <div class="panel-heading">
    <h3>Add an Message</h3>
  </div>

  <form>

    <input placeholder="Enter your Name" v-model="guestresponse.name"><br><br>

    <textarea placeholder="Leave a Message" v-model="guestresponse.message"></textarea><br><br>

    <button v-on="click:addGuest">Submit</button>

  </form>



  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script>

<!----------------------------------------------Vue JS-->

  <script type="text/javaScript">
  var apiURL = 'http://nodeguestbook.herokuapp.com/api/data'

  var demo = new Vue({

    el: '#demo',

    data: {
      guests: null
    },

    created: function () {
      this.fetchData()
    },


    methods: {
      fetchData: function () {
        var xhr = new XMLHttpRequest()
        var self = this
        xhr.open('GET', apiURL)
        xhr.onload = function () {
          self.guests = JSON.parse(xhr.responseText)
        }
        xhr.send()
      },

      addGuest: function () {
        console.log('successfully called');
        var xhp = new XMLHttpRequest()
        xhp.open('POST', apiURL, true)
        xhp.setRequestHeader("Content-type", "application/json");
        xhp.send(this.guestresponse)

      }
    }

  })
  </script>
</body>


</html>
